node_modules
tsconfig.tsbuildinfo
tsconfig.test.tsbuildinfo

# Local Netlify folder
.netlify

# Lychee
.lycheecache

# Workspace VSCode settings
.vscode/settings.json

.claude
.playwright-mcp

# @astrojs/netlify likely generates a deno.lock.
# I don't think we need to commit this file.
deno.lock
