node_modules
tsconfig.tsbuildinfo
tsconfig.test.tsbuildinfo

# Prevent .npmrc that is filled with the NPM token in CI from leaking to pull requests
.npmrc

# Local Netlify folder
.netlify

# Lychee
.lycheecache

# Workspace VSCode settings
.vscode/settings.json

.claude
.playwright-mcp
