save-exact=true

# A fix for a dependabot error:
# dependabot would hit the github registry (instead of the npmjs one)
# by default, and some @types/ packages would be stale there,
# resulting in a "version not found" error.
# I'm still not sure what makes dependabot not check npmjs.org by default,
# but this line solves the problem.
@types:registry=https://registry.npmjs.org/
