/* Using Andy Bell's CSS as a starting point. */
/* https://piccalil.li/blog/some-simple-ways-to-make-content-look-good/ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  max-width: 60rem;
  margin-inline: auto;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding-inline: var(--space-l);
  @media (min-width: 50em) {
    padding-inline: var(--space-2xl);
  }
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

article :is(img, picture) {
  border: 2px solid currentColor;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: .01ms !important;
    scroll-behavior: auto !important;
  }
}

:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 0.3ex;
}

/* @link https://utopia.fyi/type/calculator?c=320,18,1.25,1240,18,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  color-scheme: light dark;

  /* TODO: share these with the library */
  --color-dark: oklch(0.22 0 0);
  --color-light: oklch(0.98 0 0);

  --color-text: light-dark(var(--color-dark), var(--color-light));
  --color-background: light-dark(var(--color-light), var(--color-dark));

  --base-size: max(1rem, 16px);
  --ratio: 1.2;
  --size-step-0: var(--base-size);
  --size-step-1: calc(var(--size-step-0) * var(--ratio));
  --size-step-2: calc(var(--size-step-1) * var(--ratio));
  --size-step-3: calc(var(--size-step-2) * var(--ratio));
  --size-step-4: calc(var(--size-step-3) * var(--ratio));
  --size-step--1: calc(var(--size-step-0) / var(--ratio));

  --space-3xs: calc(0.25 * var(--base-size));
  --space-2xs: calc(0.5 * var(--base-size));
  --space-xs: calc(0.75 * var(--base-size));
  --space-s: var(--base-size);
  --space-m: calc(1.5 * var(--base-size));
  --space-l: calc(2 * var(--base-size));
  --space-xl: calc(3 * var(--base-size));
  --space-2xl: calc(4 * var(--base-size));
  --space-3xl: calc(6 * var(--base-size));
}

body {
  background: var(--color-background);
  color: var(--color-text);

  font-family: "IBM Plex Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  font-size: var(--size-step-0);
  line-height: 1.7;
}

strong {
  font-weight: 600;
}

a {
  color: currentColor;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 0.2ex;
  text-underline-offset: 0.3ex;

  -webkit-tap-highlight-color: transparent;
}

a:active {
  --background-color: oklch(from currentColor l c h / 0.2);
  background-color: var(--background-color);
  box-shadow: 0 0 0 0.3em var(--background-color);
}

@media (hover: hover) {
  a:hover {
    text-decoration-thickness: 0.4ex;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Lora", Georgia, serif;
  font-optical-sizing: auto;
  font-style: normal;

  line-height: 1.1;
  text-wrap: balance;
}

h1,
h2 {
  font-weight: 600;
}

h3,
h4 {
  font-weight: 500;
}

h1 {
  font-size: var(--size-step-4);
}

h2 {
  font-size: var(--size-step-3);
}

h3 {
  font-size: var(--size-step-2);
}

ul,
ol {
  -webkit-padding-start: 1em;
  padding-inline-start: 1em;
}

blockquote {
  -webkit-padding-start: 1em;
  padding-inline-start: 1em;
  -webkit-border-start: 0.3em solid;
  border-inline-start: 0.3em solid;
  font-style: italic;
  font-size: var(--size-step-1);
}

code {
  font-family: "IBM Plex Mono", SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-weight: 400;
  font-style: normal;

  color: var(--color-primary);
}

:is(strong, h1, h2, h3, h4) code {
  font-weight: 600;
}

main {
  margin-block-start: var(--space-l);
  @media (min-width: 50em) {
    margin-block-start: var(--space-2xl);
  }
}

/* Utilities */
.flow > * + * {
  -webkit-margin-before: var(--flow-space, 1em);
  margin-block-start: var(--flow-space, 1em);
}

/* Flow and rythm */
:is(h1, h2, h3, blockquote) {
  --flow-space: 1.5em;
}

:is(h1, h2, h3) + * {
  --flow-space: 0.5em;
}

/* Line lengths */
article {
  max-width: 65ch;
  margin-inline: auto;
}

blockquote {
  max-width: 50ch;
}

h1 {
  max-width: 20ch;
}

h2,
h3,
h4 {
  max-width: 28ch;
}

/* Blocks */
.lede {
  font-size: var(--size-step-1);
  font-style: italic;
  max-width: 50ch;
  text-wrap: balance;
}

.lede + * {
  --flow-space: 2em;
}

.note,
.astro-code {
  scrollbar-width: thin;
  padding: var(--space-s);
}

.note {
  /* TODO: can we reuse some color constants here? */
  background-color: light-dark(oklch(0.98 0.16 90), oklch(0.3 0.16 90));
  border: 1px solid oklch(0.7 0.16 90);

  &::before {
    content: "Note";
    display: block;
    font-size: var(--size-step-1);
    font-weight: 600;
  }
}

.astro-code {
  border: 1px solid var(--color-text);
}
