:root {
  --green-accented-primary-color: green;
}

:target {
  background-color: yellow;
}

section {
  margin-block-start: 1rem;

  &#fixed-position {
    position: fixed;
    padding: 1rem;
    inset-block-start: 3rem;
    inset-inline-end: 1rem;
    border: 1px solid currentColor;
  }
}

.test-button {
  inline-size: 5rem;
  block-size: min-content;
  min-block-size: 3rem;
}

button:not(.test-button) + button:not(.test-button) {
  margin-inline-start: 1rem;
}

#with-anchors {
  anchor-name: --foo, --bar;
}

#many-elements {
  margin-block-start: 1rem;
}
