name: Playground

on:
  push:
    branches-ignore:
      - stage

jobs:
  test-playground:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: Install Playwright browsers
        run: pnpm --filter devapp exec playwright install --with-deps

      - name: Run playground tests
        run: pnpm --filter playground test
