name: Scheduled

on:
  schedule:
    - cron: "0 0 * * *" # Runs at 00:00 UTC every day

jobs:
  test-buildless:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build
        run: pnpm build

      - name: Install Playwright browsers
        run: pnpm --filter devapp exec playwright install --with-deps

      - name: Run end-to-end tests
        run: pnpm --filter devapp test-buildless

      - name: Install lychee
        uses: ./.github/actions/installLychee

      - name: Check links
        run: ./packages/website/scripts/checkLinks.mjs --live
        env:
          GITHUB_TOKEN: ${{ secrets.LINK_CHECK_TOKEN }}
