name: Website

on:
  push:

jobs:
  build-and-publish:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build Accented
        run: pnpm --filter accented build

      - name: Check
        run: pnpm --filter website check

      - name: Build website
        run: pnpm website:build

      - name: Install lychee
        uses: ./.github/actions/installLychee

      - name: Check links
        run: ./packages/website/scripts/checkLinks.mjs --local
        env:
          GITHUB_TOKEN: ${{ secrets.LINK_CHECK_TOKEN }}

      - name: Deploy website
        if: github.ref == 'refs/heads/main'
        run: pnpm website:deploy
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ vars.NETLIFY_SITE_ID }}
